# Database
DATABASE_URL=

# API Keys 
LANGFUSE_SECRET_KEY=your_key_here
LANGFUSE_PUBLIC_KEY=your_key_here
LANGFUSE_BASE_URL=https://cloud.langfuse.com

# Integrations
AIRTABLE_API_KEY=your_key_here
AIRTABLE_BASE_ID=your_key_here
AIRTABLE_TABLE_NAME=Leads
NOTION_TOKEN=your_key_here
SLACK_WEBHOOK_URL=
SLACK_BOT_TOKEN=your_key_here

GROQ_API_KEY=your_key_here

TEST_LEAD_EMAIL=anna@gmail.com